.vscode/**
.vscode-test/**
.github/**
.planning/**
.nexus-map/**
assets/**
demo/**
docs/**
out/**
node_modules/**
scripts/**
src/**
.gitignore
.yarnrc
esbuild.js
vscode.test.config.mjs
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
